body::before {
    content: '';
    background: url('/static/images/homepage/STEVENPAULY2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
body {
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
    min-height: 100vh;
    opacity: 0.99;
}

#wrapperimage {
    position: absolute;
    top: 45;
    right: 50;
    border: none;
}

#wrappertext {
    position: absolute;
    top: 250;
    right: 0;
}
  
.text {
    padding-right: 350px;
    color:antiquewhite;
}

.animated, .bounceInUp {
    animation-duration: 2s;
    animation-name: bounceInUp;
}

@keyframes bounceInUp {
0% {
    opacity: 0;
    transform: translateY(2000px);
}
60% {
    opacity: 1;
    transform: translateY(-10px);
}
80% {
    transform: translateY(10px);
}
100% {
    transform: translateY(0);
}
}

.cardstyle {
    opacity: 0.85;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}