{% extends "base.html" %}
{% load static %}
{% block page_content %}
<!DOCTYPE html>
<html>
<head>
    <title> Homepage </title>
    <link rel="stylesheet" type="text/css" href="{% static "/css/cv.css" %}">
    <meta charset="UTF-8">
    <meta name="keywords" content="Steven Pauly, inventory, optimization, operations research, HTML, CSS, JavaScript">
    <meta name="description" content="Content on math and operations research">
    <meta name="author" content="Steven Pauly">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% for c in cv %}
        <div class="text">
            <h1>{{ c.welcome_title }}</h1>
            <p>{{ c.welcome_text | safe | linebreaks }}</p>
            <p>Do you have a question?<a href="mailto:s.pauly@slimstock.com"> Sent me an email!</a></p>
            <p>{{ c.video | safe }}</p>
        </div>
        <div class="card" style="width: 18rem;" id="wrapperimage">
            <img src="{% static "/images/cv/avatar.png" %}" id="wrapperimage" class="rounded-circle float-right img-fluid" width="55%" alt="Responsive image">
        <div class="cardstyle" style="width: 18rem;" id="wrappertext">
            <div class="animated bounceInUp">
                <div class="card-body" id="float-right">
                    <h5 class="card-title">Steven Pauly</h5>
                    <p class="card-text">Research Scientist</p><br>
                    <ul>
                        <li><a href="https://github.com/Steven1123581321" class="fab fa-github" style="font-size:15px" target="_blank" title="Github"></i> Github page</a></li>
                        <li><a href="https://linkedin.com/in/steven-pauly-80760b48" class="fab fa-Linkedin" style="font-size:15px" target="_blank" title="Linkedin"></i> Linkedin</a></li>
                        <li><a href="https://www.researchgate.net/profile/Steven-Pauly" class="fab fa-researchgate" style="font-size:15px"target="_blank" title="ResearchGate"></i> ResearchGate</a></li>
                    </ul>
                </div>
            </div>
        </div>
</body>
{% endfor %}
{% endblock %}
</html>